.searchAtc_blk {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 11px; PADDING-RIGHT: 0px; HEIGHT: 24px; CLEAR: both; PADDING-TOP: 15px
}
.searchAtc_blk .SG_input {
	WIDTH: 100px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 10px
}
.articleSearch_txt {
	LINE-HEIGHT: 20px; WIDTH: 480px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 35px; FONT-SIZE: 14px; PADDING-TOP: 6px
}
.articleSearch_tip {
	FONT-SIZE: 12px
}
.articleSearch_blk {
	TEXT-ALIGN: right; WIDTH: 200px; FLOAT: right
}
.articleSearch_blk .searchAtc_blk {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.searchAtc_nodata {
	TEXT-ALIGN: left; PADDING-BOTTOM: 300px; PADDING-LEFT: 217px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 50px
}
.searchAtc_nodata UL {
	CLEAR: both; PADDING-TOP: 15px
}
.searchAtc_nodata LI {
	LINE-HEIGHT: 24px
}
.searchAtcList {
	PADDING-BOTTOM: 20px; CLEAR: both
}
.searchAtcCell {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND-POSITION: left bottom; CLEAR: both; PADDING-TOP: 14px
}
.searchAtc_top {
	CLEAR: both; OVERFLOW: hidden
}
.searchAtc_top .searchAtc_title {
	PADDING-LEFT: 10px; FONT-FAMILY: "宋体"; BACKGROUND-POSITION: 0px 5px; FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.searchAtc_top .searchAtc_tm {
	FLOAT: right; FONT-SIZE: 10px
}
.searchAtc_para {
	LINE-HEIGHT: 21px; PADDING-LEFT: 10px; FONT-FAMILY: "宋体"; CLEAR: both; FONT-SIZE: 12px; WORD-BREAK: break-all; PADDING-TOP: 5px
}
.atcTitLists {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 11px; WIDTH: 188px; PADDING-RIGHT: 11px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px; _padding-bottom: 12px
}
.atcTitList {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 11px; WIDTH: 188px; PADDING-RIGHT: 11px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px; _padding-bottom: 12px
}
.atcTitList LI {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; CLEAR: both; PADDING-TOP: 8px
}
.atcTitList LI .atcTitCell_tit {
	PADDING-LEFT: 7px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-POSITION: left 5px; CLEAR: both; FONT-SIZE: 12px; OVERFLOW: hidden
}
.atcTitList LI .atcTitCell_tm {
	PADDING-LEFT: 7px; CLEAR: both; FONT-SIZE: 10px; PADDING-TOP: 6px
}
.atcTitList LI .atcTitCell_nm {
	PADDING-LEFT: 7px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; CLEAR: both; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 4px
}
.atcTit_more {
	TEXT-ALIGN: right; CLEAR: both; PADDING-TOP: 10px
}
.natcTit_more {
	TEXT-ALIGN: right; CLEAR: both; PADDING-TOP: 10px
}
.relaPic {
	ZOOM: 1; BACKGROUND-POSITION: left bottom; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.relaPic LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 86px; PADDING-RIGHT: 0px; DISPLAY: inline; FONT-FAMILY: "宋体"; FLOAT: left; HEIGHT: 103px; MARGIN-LEFT: 4px; CLEAR: none; FONT-SIZE: 12px; OVERFLOW: hidden; WORD-BREAK: break-all; MARGIN-RIGHT: 4px; PADDING-TOP: 0px
}
.relaPic LI IMG {
	BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; MARGIN-BOTTOM: 1px; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; _margin-bottom: 2px
}
.relaPic LI.videoImg2 {
	HEIGHT: 117px
}
.relaPic LI.videoImg2 IMG.videoImg {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 13px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP-STYLE: none; BACKGROUND: url(../../images/blog/relaVideo_bg.png) no-repeat left top; BORDER-RIGHT-STYLE: none; PADDING-TOP: 3px
}
.relaPic .clearfix {
	HEIGHT: 0px; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-table
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
* + HTML .clearfix {
	MIN-HEIGHT: 1%
}
.artical {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; ZOOM: 1; CLEAR: both; PADDING-TOP: 24px
}
.artical .jiugongge {
	TEXT-ALIGN: right; PADDING-BOTTOM: 40px; WIDTH: 490px; PADDING-TOP: 20px
}
.artical .jiugongge .SG_aBtn {
	MARGIN-RIGHT: 0px
}
.articalTitle {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; CLEAR: both
}
.articalTitle SPAN {
	WHITE-SPACE: nowrap
}
.articalTitle .titName {
	DISPLAY: inline; FONT-FAMILY: "微软雅黑","黑体"; FONT-SIZE: 18px; FONT-WEIGHT: 300
}
.articalTitle .img1 {
	VERTICAL-ALIGN: 2px; MARGIN-RIGHT: 2px
}
.articalTitle .img1 IMG {
	MARGIN-RIGHT: 2px
}
.articalTitle .img2 {
	PADDING-TOP: 4px
}
.articalTitle .img2 IMG {
	MARGIN-LEFT: 5px; VERTICAL-ALIGN: text-bottom
}
.articalTitle .time {
	FONT-FAMILY: Arial; MARGIN-LEFT: 5px; FONT-SIZE: 10px; MARGIN-RIGHT: 13px
}
.articalTitle .edit {
	
}
.articalTag {
	LINE-HEIGHT: 20px; WIDTH: 100%; CLEAR: both; WORD-BREAK: break-all
}
.articalTag TD {
	VERTICAL-ALIGN: top
}
.articalTag .blog_tag {
	PADDING-RIGHT: 10px
}
.articalTag .blog_tag SPAN IMG {
	VERTICAL-ALIGN: -3px; MARGIN-RIGHT: 3px
}
.articalTag .blog_tag SPAN A {
	WHITE-SPACE: nowrap
}
.articalTag .blog_tag H3 {
	DISPLAY: inline; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 5px
}
.articalTag .blog_tag H3 IMG {
	VERTICAL-ALIGN: -3px; MARGIN-RIGHT: 3px
}
.articalTag .blog_tag H3 A {
	WHITE-SPACE: nowrap
}
.articalTag .blog_class {
	WIDTH: 220px; WHITE-SPACE: nowrap
}
.articalTag .blog_tag {
	FONT-FAMILY: "宋体"
}
.articalTag .blog_tag SPAN {
	FONT-FAMILY: "宋体"
}
.articalTag .blog_tag A {
	FONT-FAMILY: "宋体"
}
.articalTag .blog_class {
	FONT-FAMILY: "宋体"
}
.articalTag .blog_class SPAN {
	FONT-FAMILY: "宋体"
}
.articalTag .blog_class A {
	FONT-FAMILY: "宋体"
}
.articalMusic {
	CLEAR: both; PADDING-TOP: 28px
}
.articalContent {
	PADDING-BOTTOM: 30px; LINE-HEIGHT: 150%; WIDTH: 690px; FONT-FAMILY: simsun; WORD-WRAP: break-word; CLEAR: both; FONT-SIZE: 14px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 18px
}
.articalContent UL LI {
	LIST-STYLE-TYPE: disc; MARGIN-LEFT: 30px
}
.articalContent OL LI {
	LIST-STYLE-TYPE: decimal; MARGIN-LEFT: 30px
}
.articalContent {
	WORD-WRAP: normal; WORD-BREAK: normal
}
.articalContent P {
	WORD-WRAP: normal; WORD-BREAK: normal
}
.articalContent SPAN {
	WORD-WRAP: normal; WORD-BREAK: normal
}
.articalContent FONT {
	WORD-WRAP: normal; WORD-BREAK: normal
}
.articalContent A {
	TEXT-DECORATION: underline
}
.articalContent P EM {
	FONT-STYLE: italic
}
.articalContent {
	LINE-HEIGHT: 150%
}
.articalContent P {
	LINE-HEIGHT: 150%
}
.articalContent P FONT {
	LINE-HEIGHT: 150%
}
.articalContent FONT {
	LINE-HEIGHT: 150%
}
.articalContent SPAN {
	LINE-HEIGHT: 150%
}
.articalContent TABLE TD {
	LINE-HEIGHT: 150%
}
.articalContent PRE {
	WHITE-SPACE: normal
}
.articalContent EM {
	FONT-STYLE: italic
}
.articalContent STRONG {
	FONT-WEIGHT: bold
}
.articalContent P {
	MARGIN-BOTTOM: 5px
}
.articalContent TABLE {
	LINE-HEIGHT: normal
}
.fontSize_S .articalContent {
	FONT-SIZE: 12px
}
.fontSize_S .articalVote {
	FONT-SIZE: 12px
}
.fontSize_S .articalVote .vHead {
	FONT-SIZE: 12px
}
.fontSize_S .articalList {
	FONT-SIZE: 12px
}
.fontSize_S .articalList .listTit {
	FONT-SIZE: 12px
}
.fontSize_S .articalList LI LABEL {
	FONT-SIZE: 12px
}
.fontSize_M {
	
}
.fontSize_L .articalContent {
	FONT-SIZE: 16px
}
.fontSize_L .articalVote {
	FONT-SIZE: 16px
}
.fontSize_L .articalVote .vHead {
	FONT-SIZE: 16px
}
.fontSize_L .articalList {
	FONT-SIZE: 16px
}
.fontSize_L .articalList LI LABEL {
	FONT-SIZE: 16px
}
.fontSize_L .articalList .listTit {
	FONT-SIZE: 16px
}
.fontSize_L .articalVote .vBom .vBtn .result {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vBom .vLink {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vContent .choosed LABEL EM {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vContent .num {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vContent .choosed LABEL SPAN {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vTit EM {
	FONT-SIZE: 14px
}
.fontSize_L .articalVote .vTime {
	FONT-SIZE: 14px
}
.fontSize_L .articalList LI SPAN {
	FONT-SIZE: 12px
}
.fontSize_S .article_main TH {
	FONT-SIZE: 12px
}
.fontSize_S .article_main TD {
	FONT-SIZE: 12px
}
.fontSize_S .worldcupRecord {
	FONT-SIZE: 12px
}
.fontSize_L .article_main TH {
	FONT-SIZE: 14px
}
.fontSize_L .article_main TD {
	FONT-SIZE: 14px
}
.fontSize_L .worldcupRecord {
	FONT-SIZE: 14px
}
.articalVote {
	MARGIN: 15px auto 20px; WIDTH: 648px; CLEAR: both
}
.articalVote .addbtn {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.articalVote .addbtn A:link {
	FONT-WEIGHT: 400; TEXT-DECORATION: underline
}
.articalVote .addbtn A:visited {
	FONT-WEIGHT: 400; TEXT-DECORATION: underline
}
.articalVote .addbtn .SG_linka .SG_icon33 {
	MARGIN-TOP: 0px
}
.articalVote .addbtn .SG_linka .SG_icon110 {
	
}
.articalVote .newVoteList {
	MARGIN: 0px 20px 20px; PADDING-TOP: 20px
}
.articalVote .newVoteList UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; OVERFLOW: hidden; PADDING-TOP: 0px
}
.articalVote .newVoteList UL LI .SG_dot {
	MARGIN: 7px 5px 0px 0px; WIDTH: 3px; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 3px
}
.articalVote .newVoteList UL LI .txt {
	LINE-HEIGHT: 18px; WIDTH: 600px; WORD-WRAP: break-word; FLOAT: left; WORD-BREAK: break-all
}
.articalVote .newVoteList UL LI EM {
	FONT-FAMILY: "宋体"
}
.articalVote .newVoteList .nVtit {
	FONT-FAMILY: simsun; MARGIN-BOTTOM: 8px; FONT-WEIGHT: bold
}
.articalVote .newVoteList .nVtxt {
	MARGIN-BOTTOM: 4px
}
.articalVote .newVoteList .nVtxt A {
	LINE-HEIGHT: 1.4em; MARGIN-LEFT: 8px; FONT-WEIGHT: bold
}
.articalVote .newVoteList .nVtit_up {
	MARGIN-BOTTOM: 2px
}
.articalVote .newVoteList .nVtit_down {
	MARGIN-BOTTOM: 2px
}
.articalVote .newVoteList .nVtit_down EM {
	MARGIN: 0px 5px; WIDTH: 7px; DISPLAY: inline-block; BACKGROUND: url(../../images/blog/menuArrow_default.gif) no-repeat left -20px; HEIGHT: 10px; _background-position: left -17px
}
.articalVote .newVoteList .nVtit_up EM {
	MARGIN: 0px 5px; WIDTH: 7px; DISPLAY: inline-block; BACKGROUND: url(../../images/blog/menuArrow_default.gif) no-repeat left top; HEIGHT: 10px; _background-position: left 3px
}
.articalVote .vContentRe {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 205px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 15px; PADDING-TOP: 13px
}
.articalVote .vContentRe LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: simsun; PADDING-TOP: 5px
}
.articalVote .vContentRe .choosed {
	LINE-HEIGHT: 18px; WIDTH: 185px; FONT-FAMILY: simsun; FLOAT: left; OVERFLOW: hidden
}
.articalVote .vContentRe .choosed INPUT {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.articalVote .vContentRe .choosed LABEL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 155px; PADDING-RIGHT: 0px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 1px
}
.articalVote .vContentRe .choosed LABEL EM {
	WIDTH: 20px; FLOAT: left; _padding-top: 1px
}
.articalVote .vContentRe .choosed LABEL SPAN {
	WIDTH: 135px; WORD-WRAP: break-word; FLOAT: left; OVERFLOW: hidden; WORD-BREAK: break-all; _padding: 1px 0 0
}
.articalVote .vContentPic {
	FLOAT: left
}
.articalVote .vContentPic01 {
	FLOAT: left
}
.articalVote .vShape {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.articalVote .vShape UL {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.articalVote .vShape UL LI {
	FLOAT: left
}
.articalVote .vShape UL LI.line {
	MARGIN: -2px 8px 0px; DISPLAY: block
}
.articalVote .vShape UL LI.cur {
	FONT-WEIGHT: bold
}
.articalVote .voteBg {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 15px; PADDING-RIGHT: 13px; CLEAR: both; PADDING-TOP: 10px
}
.articalVote .vHead {
	LINE-HEIGHT: 19px; FONT-SIZE: 14px
}
.articalVote STRONG {
	WIDTH: 28px; FLOAT: left
}
.articalVote .vTit {
	WIDTH: 565px; FONT-FAMILY: simsun; FLOAT: left; OVERFLOW: hidden
}
.articalVote .vTit SPAN {
	PADDING-RIGHT: 10px; FONT-WEIGHT: 600
}
.articalVote .vTit EM {
	FONT-FAMILY: simsun; WHITE-SPACE: nowrap; FONT-SIZE: 12px
}
.articalVote .vTime {
	PADDING-LEFT: 27px; FONT-FAMILY: simsun; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 2px
}
.articalVote .vContent {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 15px; PADDING-TOP: 13px
}
.articalVote .vContent LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; WIDTH: 450px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.articalVote .vContent LI.cur {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 9px; WIDTH: 450px; PADDING-RIGHT: 9px; PADDING-TOP: 4px
}
.articalVote .vContent .choosed {
	LINE-HEIGHT: 18px; WIDTH: 185px; FONT-FAMILY: simsun; FLOAT: left; OVERFLOW: hidden
}
.articalVote .vContent .choosed INPUT {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.articalVote .vContent .choosed LABEL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 155px; PADDING-RIGHT: 0px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 1px
}
.articalVote .vContent .choosed LABEL EM {
	WIDTH: 20px; FLOAT: left; _padding-top: 1px
}
.articalVote .vContent .choosed LABEL SPAN {
	WIDTH: 135px; WORD-WRAP: break-word; FLOAT: left; OVERFLOW: hidden; WORD-BREAK: break-all; _padding: 1px 0 0
}
.articalVote .vContent .linebg {
	BORDER-BOTTOM: #d4d4d4 1px solid; POSITION: relative; BORDER-LEFT: #d4d4d4 1px solid; MARGIN: 5px 13px 0px 5px; WIDTH: 170px; BACKGROUND: #e6e6e6; FLOAT: left; HEIGHT: 9px; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.articalVote .vContent .linebg .color {
	POSITION: absolute; WIDTH: auto; DISPLAY: block; BACKGROUND: url(../../images/blog/blogvote.png) repeat-x; HEIGHT: 9px; OVERFLOW: hidden; TOP: -1px; LEFT: -1px
}
.articalVote .vContent .linebg .c1 {
	BORDER-BOTTOM: #8d458e 1px solid; BORDER-LEFT: #8d458e 1px solid; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #8d458e 1px solid; BORDER-RIGHT: #8d458e 1px solid
}
.articalVote .vContent .linebg .c2 {
	BORDER-BOTTOM: #578425 1px solid; BORDER-LEFT: #578425 1px solid; BACKGROUND-POSITION: 0px -14px; BORDER-TOP: #578425 1px solid; BORDER-RIGHT: #578425 1px solid
}
.articalVote .vContent .linebg .c3 {
	BORDER-BOTTOM: #89ba00 1px solid; BORDER-LEFT: #89ba00 1px solid; BACKGROUND-POSITION: 0px -28px; BORDER-TOP: #89ba00 1px solid; BORDER-RIGHT: #89ba00 1px solid
}
.articalVote .vContent .linebg .c4 {
	BORDER-BOTTOM: #008d8e 1px solid; BORDER-LEFT: #008d8e 1px solid; BACKGROUND-POSITION: 0px -42px; BORDER-TOP: #008d8e 1px solid; BORDER-RIGHT: #008d8e 1px solid
}
.articalVote .vContent .linebg .c5 {
	BORDER-BOTTOM: #7da4cf 1px solid; BORDER-LEFT: #7da4cf 1px solid; BACKGROUND-POSITION: 0px -56px; BORDER-TOP: #7da4cf 1px solid; BORDER-RIGHT: #7da4cf 1px solid
}
.articalVote .vContent .linebg .c6 {
	BORDER-BOTTOM: #d54545 1px solid; BORDER-LEFT: #d54545 1px solid; BACKGROUND-POSITION: 0px -70px; BORDER-TOP: #d54545 1px solid; BORDER-RIGHT: #d54545 1px solid
}
.articalVote .vContent .linebg .c7 {
	BORDER-BOTTOM: #ff8d46 1px solid; BORDER-LEFT: #ff8d46 1px solid; BACKGROUND-POSITION: 0px -84px; BORDER-TOP: #ff8d46 1px solid; BORDER-RIGHT: #ff8d46 1px solid
}
.articalVote .vContent .linebg .c8 {
	BORDER-BOTTOM: #f6bd0e 1px solid; BORDER-LEFT: #f6bd0e 1px solid; BACKGROUND-POSITION: 0px -98px; BORDER-TOP: #f6bd0e 1px solid; BORDER-RIGHT: #f6bd0e 1px solid
}
.articalVote .vContent .linebg .c9 {
	BORDER-BOTTOM: #008dd5 1px solid; BORDER-LEFT: #008dd5 1px solid; BACKGROUND-POSITION: 0px -112px; BORDER-TOP: #008dd5 1px solid; BORDER-RIGHT: #008dd5 1px solid
}
.articalVote .vContent .linebg .c10 {
	BORDER-BOTTOM: #b2aa01 1px solid; BORDER-LEFT: #b2aa01 1px solid; BACKGROUND-POSITION: 0px -126px; BORDER-TOP: #b2aa01 1px solid; BORDER-RIGHT: #b2aa01 1px solid
}
.articalVote .vContent .linebg .c11 {
	BORDER-BOTTOM: #d045c0 1px solid; BORDER-LEFT: #d045c0 1px solid; BACKGROUND-POSITION: 0px -140px; BORDER-TOP: #d045c0 1px solid; BORDER-RIGHT: #d045c0 1px solid
}
.articalVote .vContent .linebg .c12 {
	BORDER-BOTTOM: #0dcab9 1px solid; BORDER-LEFT: #0dcab9 1px solid; BACKGROUND-POSITION: 0px -154px; BORDER-TOP: #0dcab9 1px solid; BORDER-RIGHT: #0dcab9 1px solid
}
.articalVote .vContent .linebg .c13 {
	BORDER-BOTTOM: #14da63 1px solid; BORDER-LEFT: #14da63 1px solid; BACKGROUND-POSITION: 0px -168px; BORDER-TOP: #14da63 1px solid; BORDER-RIGHT: #14da63 1px solid
}
.articalVote .vContent .linebg .c14 {
	BORDER-BOTTOM: #e96a8d 1px solid; BORDER-LEFT: #e96a8d 1px solid; BACKGROUND-POSITION: 0px -182px; BORDER-TOP: #e96a8d 1px solid; BORDER-RIGHT: #e96a8d 1px solid
}
.articalVote .vContent .linebg .c15 {
	BORDER-BOTTOM: #6a7ae9 1px solid; BORDER-LEFT: #6a7ae9 1px solid; BACKGROUND-POSITION: 0px -196px; BORDER-TOP: #6a7ae9 1px solid; BORDER-RIGHT: #6a7ae9 1px solid
}
.articalVote .vContent .num {
	LINE-HEIGHT: 19px; FONT-FAMILY: simsun; FLOAT: left
}
.articalVote .vContent .num SPAN {
	
}
.articalVote .vBom {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 15px; _padding: 15px 0 0 15px
}
.articalVote .vBom .vBtn {
	PADDING-LEFT: 13px; WIDTH: 280px; FLOAT: left
}
.articalVote .vBom .vBtn .btn {
	FLOAT: left; MARGIN-RIGHT: 17px
}
.articalVote .vBom .vBtn .btn A:link {
	WIDTH: 51px; DISPLAY: block; BACKGROUND: url(../../images/blog/blogvote_2.png) no-repeat left top; HEIGHT: 23px; TEXT-DECORATION: none
}
.articalVote .vBom .vBtn .btn A:visited {
	WIDTH: 51px; DISPLAY: block; BACKGROUND: url(../../images/blog/blogvote_2.png) no-repeat left top; HEIGHT: 23px; TEXT-DECORATION: none
}
.articalVote .vBom .vBtn .btn A:hover {
	BACKGROUND: url(../../images/blog/blogvote_2.png) no-repeat left bottom; TEXT-DECORATION: none
}
.articalVote .vBom .vBtn .btn A INPUT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 51px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 23px; COLOR: #333; BORDER-LEFT-WIDTH: 0px
}
.articalVote .vBom .vBtn .voteState {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FLOAT: left; FONT-WEIGHT: 600; PADDING-TOP: 5px
}
.articalVote .vBom .vBtn .result {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.articalVote .vBom .vBtn .result A {
	TEXT-DECORATION: underline
}
.articalVote .vBom .vLink {
	TEXT-ALIGN: right; LINE-HEIGHT: 23px; WIDTH: 200px; FLOAT: right; HEIGHT: 20px; OVERFLOW: hidden
}
.articalVote .vBom .vLink A {
	TEXT-DECORATION: underline
}
.articalList {
	MARGIN: 0px auto 20px; WIDTH: 648px; CLEAR: both
}
.articalList .listBg {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.articalList .listTit {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
.articalList LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top; HEIGHT: 16px; PADDING-TOP: 5px
}
.articalList LI LABEL {
	PADDING-LEFT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left 6px; MARGIN-LEFT: 10px; FONT-SIZE: 14px
}
.articalList LI LABEL IMG {
	VERTICAL-ALIGN: -2px
}
.articalList LI SPAN {
	FONT-SIZE: 10px
}
.articalInfo {
	CLEAR: both; PADDING-TOP: 10px
}
.articalInfo .IL {
	WIDTH: 65%; FLOAT: left; PADDING-TOP: 1px
}
.articalInfo .IL SPAN.SG_txtb {
	FONT-FAMILY: "宋体"
}
.articalInfo .IL EM {
	MARGIN: 0px 3px; _margin: 0 2px
}
.articalInfo .IL B {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px
}
.articalInfo .IR {
	WIDTH: 35%; FLOAT: right
}
.articalInfo .IR TABLE {
	FLOAT: right
}
.articalInfo .IR TD {
	VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.articalInfo .IR TH {
	VERTICAL-ALIGN: top; FONT-WEIGHT: normal
}
.articalInfo .IR TH {
	TEXT-ALIGN: right; WIDTH: 60px
}
.articalInfo .IR SPAN {
	HEIGHT: 22px; MARGIN-RIGHT: 5px
}
.articalInfo .IR SPAN IMG {
	MARGIN-RIGHT: -2px
}
.articalInfo .IR SPAN A {
	WORD-BREAK: break-all
}
.articalInfo .IR .IR_list {
	FLOAT: left
}
.articalInfo .IR .IR_list SPAN {
	DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left
}
.articalInfo .IR .IR_list P {
	PADDING-BOTTOM: 8px; HEIGHT: 15px; CLEAR: both
}
.articalInfo .IR .IR_list P IMG {
	FLOAT: left; MARGIN-RIGHT: 4px
}
.articalInfo .IR .IR_list P A {
	FLOAT: left; PADDING-TOP: 2px
}
.articalInfo .toMiniblog {
	PADDING-BOTTOM: 10px; HEIGHT: 18px; CLEAR: both; OVERFLOW: hidden
}
.articalInfo .toMiniblog_link {
	PADDING-RIGHT: 5px; FLOAT: right; HEIGHT: 18px
}
.articalInfo .toMiniblog A {
	LINE-HEIGHT: 18px; PADDING-LEFT: 20px; DISPLAY: block; BACKGROUND: url(../../images/blog/miniblog_icon_l.gif) no-repeat left top; FLOAT: right; HEIGHT: 18px
}
.articalfrontback {
	PADDING-BOTTOM: 24px; MARGIN: 20px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 24px
}
.articalfrontback DIV {
	LINE-HEIGHT: 24px; MIN-HEIGHT: 24px; FONT-FAMILY: "宋体"; _height: 24px
}
.articalfrontback DIV.SG_floatL SPAN {
	DISPLAY: block; CLEAR: both
}
.articalfrontback DIV.SG_floatR SPAN {
	DISPLAY: block; CLEAR: both
}
.articalfrontback DIV.SG_floatR {
	TEXT-ALIGN: right
}
.articalfrontback DIV.SG_floatL {
	WIDTH: 340px
}
.articalfrontback DIV.SG_floatR {
	WIDTH: 340px
}
.articalfrontback2 {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
.blog_evaluation {
	
}
.blog_evaluation IMG {
	MARGIN: -2px 2px 0px 0px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle
}
.articalTag .blog_tag SPAN.blog_evaluation IMG {
	MARGIN: -2px 2px 0px 0px; WHITE-SPACE: nowrap; VERTICAL-ALIGN: middle
}
.blogreco {
	OVERFLOW: hidden
}
.blogreco .TB {
	POSITION: absolute; WIDTH: 100%
}
.blogreco .TB A {
	MARGIN: 5px 5px 5px 0px; WIDTH: 15px; DISPLAY: block; FLOAT: right; HEIGHT: 14px
}
.blogreco .TB .btnClose {
	BACKGROUND: url(http://i2.sinaimg.cn/blog/mini/08olympic/blogrecommend_hz_003.gif)
}
.blogreco .TB .btnMin {
	BACKGROUND: url(http://i2.sinaimg.cn/blog/mini/08olympic/blogrecommend_hz_004.gif)
}
.blogreco .TB .btnMax {
	BACKGROUND: url(http://i1.sinaimg.cn/blog/mini/08olympic/yzq_001.gif)
}
.blogreco .IF {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 260px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 190px; BORDER-LEFT-WIDTH: 0px
}
.blogzz_abstract .blogzz_ainfo A:link {
	TEXT-DECORATION: none
}
.blogzz_abstract .blogzz_ainfo A:visited {
	TEXT-DECORATION: none
}
.blogzz_abstract .blogzz_ainfo A:active {
	TEXT-DECORATION: none
}
.blogzz_abstract .blogzz_ainfo A:hover {
	TEXT-DECORATION: underline
}
.blogzz_abstract .blogzz_acon {
	
}
.blogzz_clear {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden
}
.the_triangle {
	TEXT-ALIGN: right; MARGIN-TOP: 5px; WIDTH: 50%; HEIGHT: 5px; _margin-bottom: -0px
}
.blogzz_zzlist {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 20px; PADDING-TOP: 10px
}
.blogzz_zzlist .zzlist_mleft {
	MARGIN-LEFT: 10px
}
.blogzz_zzlist .zzlist_mright {
	MARGIN-RIGHT: 10px
}
.blogzz_zzlist H3 {
	LINE-HEIGHT: 24px; MARGIN: 0px 5px; BACKGROUND: url(../../images/common/SG_linedot.gif) repeat-x left bottom; HEIGHT: 24px; FONT-SIZE: 12px
}
.blogzz_zzlist UL.ul_zzlist LI A:link {
	COLOR: #905e40; TEXT-DECORATION: none
}
.blogzz_zzlist UL.ul_zzlist LI A:visited {
	COLOR: #905e40; TEXT-DECORATION: none
}
.blogzz_zzlist UL.ul_zzlist LI A:active {
	COLOR: #905e40; TEXT-DECORATION: none
}
.blogzz_zzlist UL.ul_zzlist LI A:hover {
	TEXT-DECORATION: underline
}
.blogzz_zzlist A.blogzz_adel {
	
}
.blogzz_zzlist UL.ul_zzlist {
	MARGIN: 0px 5px
}
.blogzz_zzlist UL.ul_zzlist LI {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: url(../../images/common/SG_linedot.gif) repeat-x left bottom; HEIGHT: 100%; COLOR: #666; OVERFLOW: hidden; PADDING-TOP: 8px
}
.blogzz_zzlist UL.ul_zzlist LI EM {
	FONT-FAMILY: Verdana; FONT-SIZE: 10px
}
.blogzz_zzlist UL.ul_zzlist LI P {
	PADDING-LEFT: 8px; _margin-bottom: 2px
}
.blogzz_zzlist UL.ul_zzlist LI .CP_a_fuc {
	MARGIN-LEFT: 10px
}
.blogzz_zzlist .blogzz_pinfo {
	WORD-WRAP: break-word; BACKGROUND: url(../../images/common/SG_dot.gif) no-repeat left 4px; WORD-BREAK: break-all; _background-position: left 6px
}
.blogzz_pinfo .blogzz_bname {
	
}
.blogzz_paged {
	LINE-HEIGHT: 40px; FLOAT: right; HEIGHT: 40px
}
.blogzz_closepic {
	WIDTH: 10px; DISPLAY: block; BACKGROUND: url(../../images/common/topbar/tb_layer/tb_layer.png) no-repeat -5px -293px; HEIGHT: 10px
}
.blogzz_link {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.blogzz_paged LI.SG_s_pgprev A {
	LINE-HEIGHT: 38px; MARGIN-TOP: 2px; HEIGHT: 40px
}
.blogzz_paged LI.SG_s_pgnext A {
	LINE-HEIGHT: 38px; MARGIN-TOP: 2px; HEIGHT: 40px
}
.turnBoxzz {
	FLOAT: right
}
.turnBoxzz .SG_turn {
	WIDTH: 86px; LETTER-SPACING: 5px; ZOOM: 1
}
.turnBoxzz .SG_turn CITE {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; WIDTH: 34px; PADDING-RIGHT: 20px; DISPLAY: inline-block !important; PADDING-TOP: 0px
}
.turnBoxzz .SG_turn .arrow {
	POSITION: absolute; FONT-SIZE: 7px; RIGHT: 10px; TOP: 1px; -webkit-text-size-adjust: none
}
.turnBoxzz A.SG_turn IMG {
	LEFT: 11px
}
.arrow_zz {
	WIDTH: 7px; DISPLAY: inline; BACKGROUND: url(../../images/blog/arrow_zz.gif) no-repeat 0px 0px; HEIGHT: 4px; MARGIN-LEFT: 2px
}
.blogzz_paged .SG_turntxt {
	FLOAT: left; MARGIN-LEFT: 230px; _margin-left: 110px
}
.articalInfo .IL EM.arrow {
	FONT-FAMILY: Verdana,Helvetica; FONT-SIZE: 9px
}
.articalInfo .IL .SG_icon {
	VERTICAL-ALIGN: -1px
}
.articalInfo .IL A IMG {
	TEXT-DECORATION: none
}
.articalInfo .IL .zznum {
	FONT-FAMILY: "宋体"
}
.blogzz_btn {
	POSITION: relative; HEIGHT: 1px
}
.blogzz_btn .SG_turn {
	POSITION: relative; TEXT-ALIGN: center; TOP: 8px; LEFT: 46%; _left: 40%; _position: absolute
}
.blogzz_btn A:link {
	TEXT-DECORATION: none
}
.blogzz_btn A:visited {
	TEXT-DECORATION: none
}
.blogzz_btn A:active {
	TEXT-DECORATION: none
}
.blogzz_zzlist UL.ul_zzlist LI .SG_floatR {
	TEXT-ALIGN: right; WIDTH: 150px
}
.atc_photoblog {
	PADDING-BOTTOM: 0px; MARGIN: 20px; PADDING-LEFT: 20px; WIDTH: 608px; PADDING-RIGHT: 20px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 20px
}
.articalContent A:link {
	TEXT-DECORATION: none
}
.articalContent A:visited {
	TEXT-DECORATION: none
}
.articalContent A:hover {
	TEXT-DECORATION: underline
}
.atc_photoblog_title {
	PADDING-BOTTOM: 20px; CLEAR: both; FONT-SIZE: 14px
}
.atc_photoblog .myPhotoblog_list {
	PADDING-LEFT: 10px; WIDTH: 620px; CLEAR: both
}
.atc_photoblog .myPhotoblog_cell {
	PADDING-BOTTOM: 20px; OVERFLOW-X: hidden; MIN-HEIGHT: 90px; WIDTH: 155px; FLOAT: left; _height: 90px
}
.atc_photoblog .myPhotoblog_view {
	BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: relative; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 120px; HEIGHT: 90px; OVERFLOW: hidden; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid
}
.atc_photoblog .myPhotoblog_area {
	POSITION: absolute; WIDTH: 200px; HEIGHT: 200px; TOP: -55px; LEFT: -40px
}
.atc_photoblog .myPhotoblog_area TABLE {
	TEXT-ALIGN: center; BORDER-SPACING: 0; WIDTH: 200px; BORDER-COLLAPSE: collapse; HEIGHT: 200px; VERTICAL-ALIGN: middle
}
.atc_photoblog .myPhotoblog_area TD {
	TEXT-ALIGN: center; BORDER-SPACING: 0; WIDTH: 200px; BORDER-COLLAPSE: collapse; HEIGHT: 200px; VERTICAL-ALIGN: middle
}
.atc_photoblog .myPhotoblog_cover {
	TEXT-ALIGN: right; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f3f3f3; WIDTH: 117px; PADDING-RIGHT: 5px; HEIGHT: 18px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.atc_photoblog .myPhotoblog_nm {
	WIDTH: 130px; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.atc_photoblog .myPhotoblog_nm .SG_icon {
	MARGIN-RIGHT: 3px
}
.popBox UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.popBox LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.popBox IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
.popBox {
	POSITION: relative; WIDTH: 263px; FONT-FAMILY: "宋体"; HEIGHT: 267px; COLOR: #333; FONT-SIZE: 12px; OVERFLOW: hidden
}
.popBox .popBox_bg {
	WIDTH: 263px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; HEIGHT: 267px
}
.popBox .popMain_bg {
	POSITION: absolute; WIDTH: 253px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; HEIGHT: 185px; OVERFLOW: hidden; TOP: 42px; LEFT: 5px
}
.popBox .popFlash {
	POSITION: absolute; WIDTH: 293px; HEIGHT: 60px; TOP: 0px; LEFT: 0px
}
.popBox .popMain {
	POSITION: absolute; WIDTH: 250px; HEIGHT: 185px; TOP: 53px; LEFT: 9px
}
.popBox .popBox_btn {
	POSITION: absolute; WIDTH: 45px; HEIGHT: 14px; OVERFLOW: hidden; RIGHT: 0px; TOP: 0px
}
.popBox .popBox_btn A {
	WIDTH: 15px; DISPLAY: block; FLOAT: left; HEIGHT: 14px; MARGIN-LEFT: 5px
}
.popBox .popBox_btn A.mini {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.popBox .popBox_btn A.close {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -20px top
}
.popBox .line1 {
	CLEAR: both
}
.popBox .line1 .pic {
	WIDTH: 82px; FLOAT: left; HEIGHT: 82px; OVERFLOW: hidden; MARGIN-RIGHT: 5px
}
.popBox .line1 .pic IMG {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.popBox .line1 .list1 {
	WIDTH: 160px; FLOAT: left; OVERFLOW: hidden
}
.popBox .line1 .list1 LI {
	LINE-HEIGHT: 20px; CLEAR: both
}
.popBox .list2 {
	CLEAR: both; PADDING-TOP: 3px
}
.popBox .list2 .b {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
.popBox .list2 LI {
	LINE-HEIGHT: 22px
}
.popBox A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.popBox A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.popBox A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.popBox .red {
	COLOR: #f00
}
.popBox .red A:link {
	COLOR: #f00
}
.popBox .red A:visited {
	COLOR: #f00
}
.voteapp_btnMore {
	POSITION: relative; TEXT-ALIGN: right; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; FONT-FAMILY: "宋体"; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.voteapp_btnMore A:link {
	TEXT-DECORATION: underline
}
.voteapp_btnMore A:visited {
	TEXT-DECORATION: underline
}
.voteapp_btnMore A:hover {
	TEXT-DECORATION: underline
}
.voteapp_btnMore .SG_icon11 {
	POSITION: absolute; RIGHT: 13px; TOP: -4px
}
.baby_hot2 {
	MARGIN: 0px auto 20px; WIDTH: 648px; CLEAR: both
}
.baby_hot2 .listBg {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.baby_hot2 .babu_hotTit {
	WIDTH: 490px
}
.baby_hot2 UL {
	LIST-STYLE-TYPE: none; WIDTH: 490px
}
.baby_hot2 UL LI {
	LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none; PADDING-LEFT: 8px; BACKGROUND-POSITION: left 8px; HEIGHT: 25px; MARGIN-LEFT: 0px; OVERFLOW: hidden
}
.baby_hot2 LI .tit {
	FLOAT: left; FONT-SIZE: 14px
}
.baby_hot2 LI .tit A {
	FLOAT: left
}
.baby_hot2 LI .tit IMG {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 3px
}
.baby_hot2 LI .author {
	TEXT-ALIGN: right; FLOAT: right; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 1px
}
.picShareFlt {
	OVERFLOW: hidden; _zoom: 1
}
.picShareQing {
	OVERFLOW: hidden; _zoom: 1
}
.picSlideBtn {
	OVERFLOW: hidden; _zoom: 1
}
.picAward {
	OVERFLOW: hidden; _zoom: 1
}
.picShareFlt .share {
	LINE-HEIGHT: 26px; BACKGROUND: url(../../images/common/btn_share.png) right 0px; FLOAT: left; HEIGHT: 24px; FONT-SIZE: 12px; OVERFLOW: hidden; CURSOR: pointer
}
.picShareQing .share {
	LINE-HEIGHT: 26px; BACKGROUND: url(../../images/common/btn_share.png) right 0px; FLOAT: left; HEIGHT: 24px; FONT-SIZE: 12px; OVERFLOW: hidden; CURSOR: pointer
}
.picShareQing .share {
	BACKGROUND: url(../../images/common/btn_sharetoqing.png) right 0px
}
.picShareFlt .share A {
	MARGIN: 0px 4px; DISPLAY: inline; FLOAT: left
}
.picShareQing .share A {
	MARGIN: 0px 4px; DISPLAY: inline; FLOAT: left
}
.picShareFlt .share SPAN {
	MARGIN: 0px 6px 0px 29px; DISPLAY: inline; FLOAT: left; COLOR: #5e0900
}
.picShareQing .share SPAN {
	MARGIN: 0px 6px 0px 29px; DISPLAY: inline; FLOAT: left; COLOR: #5e0900
}
.picShareQing .share SPAN {
	MARGIN: 0px 4px 0px 26px; COLOR: #0b4295
}
.picSlideBtn A {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 64px; DISPLAY: block; BACKGROUND: url(../../../images/common/multishow_bg.png) no-repeat -21px -873px; HEIGHT: 21px; COLOR: #fff; FONT-SIZE: 12px
}
.picSlideBtn A.picSlideBtn:link A:visited {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 64px; DISPLAY: block; BACKGROUND: url(../../../images/common/multishow_bg.png) no-repeat -21px -873px; HEIGHT: 21px; COLOR: #fff; FONT-SIZE: 12px
}
.posters {
	WIDTH: auto; OVERFLOW: hidden
}
.SG_colW73 .posters .tet {
	WIDTH: 475px; FLOAT: left; OVERFLOW: hidden
}
.posters .introduction {
	WIDTH: 200px; DISPLAY: inline; FLOAT: right; FONT-SIZE: 12px
}
.posters .introduction .movies {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
.posters .introduction .movies .movieslist {
	MARGIN: 8px 0px
}
.posters .introduction .movies .movieslist LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 0px
}
.posters .introduction .movies .movieslist LI .b {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 10em; PADDING-RIGHT: 0px; DISPLAY: inline-block; WORD-WRAP: break-word; VERTICAL-ALIGN: top; OVERFLOW: hidden; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.posters .introduction .movies .movieslist LI.btn {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.posters .introduction .movies .movieslist A {
	TEXT-ALIGN: center
}
.posters .introduction .movies .movieslist LI .blog_evaluation {
	TEXT-ALIGN: center
}
.posters .introduction .movies .txt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.posters .introduction .movies .impAD_pL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.posters .introduction .movies .impAD_pL UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; WIDTH: 178px; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.posters .introduction .movies .more {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.posters .introduction .movies .btn {
	TEXT-ALIGN: center; CLEAR: both
}
.posters .introduction .movies .btn A {
	TEXT-DECORATION: none
}
.posters2 {
	WIDTH: auto; OVERFLOW: hidden
}
.SG_colW73 .posters2 .tet {
	WIDTH: 572px; FLOAT: left; OVERFLOW: hidden
}
.SG_colW51 .posters2 .tet {
	WIDTH: 352px; FLOAT: left; OVERFLOW: hidden
}
.posters2 .tet {
	WIDTH: 572px
}
.posters2 .introduction {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 108px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.posters2 .movies {
	PADDING-BOTTOM: 4px
}
.posters2 .movieslist {
	PADDING-BOTTOM: 8px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 8px
}
.posters2 .movieslist LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: block; OVERFLOW: hidden; PADDING-TOP: 0px
}
.posters2 .movieslist LI STRONG {
	LINE-HEIGHT: 150%; WIDTH: 2.8em; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.posters2 .movieslist LI .txt {
	TEXT-ALIGN: center; LINE-HEIGHT: 150%; MARGIN: 0px auto; WIDTH: 7em; DISPLAY: block; HEIGHT: 18px; OVERFLOW: hidden
}
.posters2 .movieslist LI.pic {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.posters2 .movieslist LI.pic IMG {
	VERTICAL-ALIGN: top
}
.posters2 .movieslist LI .blog_evaluation {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; DISPLAY: block
}
.posters2 .movieslist LI .blog_evaluation IMG {
	MARGIN-RIGHT: 1px
}
.posters2 P.btn {
	TEXT-ALIGN: center
}
.posters2 P.btn A.SG_aBtn {
	MARGIN-RIGHT: 0px
}
.hotmovies {
	MARGIN: 0px 0px 0px 13px; WIDTH: 188px; ZOOM: 1; DISPLAY: inline; FLOAT: none
}
.hotmovies UL {
	
}
.hotmovies UL LI {
	FONT-FAMILY: "宋体"
}
.hotmovies UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.hotmovies UL LI .SG_dot {
	MARGIN-TOP: 12px; WIDTH: 7px; FLOAT: left; HEIGHT: 3px; OVERFLOW: hidden
}
.hotmovies UL LI.cur {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; CLEAR: both; OVERFLOW: auto; PADDING-TOP: 10px
}
.hotmovies UL LI.cur IMG {
	WIDTH: 90px; MARGIN-BOTTOM: 12px; FLOAT: left; HEIGHT: 134px; MARGIN-RIGHT: 10px
}
.hotmovies UL LI.cur .vltxt {
	PADDING-BOTTOM: 2px; WIDTH: 83px; FLOAT: left; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.hotmovies UL LI.cur .vp_midd_txt {
	WIDTH: 390px; FLOAT: left
}
.hotmovies UL LI.cur .vltime {
	FONT-FAMILY: Arial; FONT-SIZE: 10px; OVERFLOW: hidden
}
.hotmovies UL LI UL {
	PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-LEFT: 0px; WIDTH: 88px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
.hotmovies UL LI UL LI {
	LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 6em; BACKGROUND: url(../../images/common/SG_dot.gif) no-repeat 0px 7px; HEIGHT: 19px; OVERFLOW: hidden
}
.filmPlug {
	
}
.filmPlug {
	
}
.filmPlug UL {
	
}
.filmPlug LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 5em; PADDING-RIGHT: 0px; WORD-WRAP: break-word; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 0px
}
.filmPlug LI.name {
	
}
.filmPlug LI.name .txt {
	FONT-WEIGHT: bold
}
.filmPlug LI .txt {
	
}
.filmPlug LI.pic {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.filmPlug LI.pic IMG {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; PADDING-TOP: 1px
}
.filmPlug LI STRONG {
	MARGIN: 0px 0px 0px -5em; WIDTH: 5em; FONT-WEIGHT: normal
}
.filmPlug .btn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.transferWrap {
	ZOOM: 1; CLEAR: both; OVERFLOW: auto
}
.transferWrap .introduction {
	MARGIN-TOP: 30px
}
.filmReviewList {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; PADDING-TOP: 20px
}
.filmReview {
	POSITION: relative; PADDING-BOTTOM: 18px; WIDTH: 100%; ZOOM: 1; MARGIN-BOTTOM: 18px; OVERFLOW: hidden
}
.filmReview .pic {
	POSITION: relative; WIDTH: 87px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: -100%
}
.filmReview .pic IMG {
	WIDTH: 85px; DISPLAY: block; MARGIN-BOTTOM: 10px; HEIGHT: 110px; OVERFLOW: hidden
}
.filmReview .pic .borderc {
	BACKGROUND: url(../../images/me/noposter85x110.png) no-repeat
}
.filmReviewList .filmReview .pic .borderc {
	WIDTH: 85px; HEIGHT: 110px
}
.filmReview .pic A.SG_aBtn_ico {
	MARGIN-RIGHT: 0px
}
.filmReview .pic A.SG_aBtn_ico CITE {
	PADDING-RIGHT: 8px
}
.filmReview .pic A.SG_aBtn_ico CITE IMG {
	WIDTH: 15px; HEIGHT: 15px; OVERFLOW: hidden
}
.filmReview .info {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.filmReview .info .con {
	PADDING-LEFT: 97px
}
.filmReview .info .con STRONG {
	FONT-SIZE: 14px
}
.filmReview .info .con .des {
	LINE-HEIGHT: 18px; MARGIN-TOP: 5px; ZOOM: 1; CLEAR: both; OVERFLOW: auto
}
.filmReview .info .con .des A {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.filmReview .info .con .des SPAN {
	FLOAT: left; MARGIN-RIGHT: 6px
}
.filmReview .info .con .des SPAN.blog_evaluation {
	MARGIN-TOP: 0px; _margin-top: 2px
}
.filmReview .info .con P {
	LINE-HEIGHT: 18px; MARGIN-TOP: 10px
}
.filmReview .info .con P A {
	MARGIN-LEFT: 15px
}
.filmReview .edit {
	POSITION: absolute; RIGHT: 0px; TOP: 0px
}
.filmReview .edit A {
	MARGIN-LEFT: 4px
}
.filmReviewList .SG_j_linedot1 {
	BACKGROUND-POSITION: 50% bottom
}
.moviesApp_txtlink {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 8px
}
.moviesApp_txtlink A {
	OUTLINE-STYLE: none
}
.center_pageL {
	FLOAT: left
}
.center_pageL .SG_icon {
	VERTICAL-ALIGN: middle
}
.artical .sc {
	POSITION: relative
}
.diarynotis {
	PADDING-BOTTOM: 10px; MARGIN: 20px 0px 10px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; BACKGROUND: url(../../images/common/quotations/center_lx_png.png); PADDING-TOP: 10px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/common/quotations/center_lx_png.png', sizingMethod='crop')
}
.diarynotis P {
	LINE-HEIGHT: 16px
}
.diarynotis .notisfr {
	TEXT-ALIGN: right; PADDING-TOP: 10px
}
.qtt_feed LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 690px; PADDING-RIGHT: 10px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 10px
}
.qtt_feed LI .fl_date {
	POSITION: relative; TEXT-ALIGN: center; MARGIN-TOP: 15px; WIDTH: 57px; FONT-FAMILY: Arial; BACKGROUND: url(../../images/common/quotations/bg_data.gif) no-repeat; FLOAT: left; HEIGHT: 63px
}
.qtt_feed LI .fl_date .year {
	LINE-HEIGHT: 20px; WIDTH: 57px; COLOR: #fff
}
.qtt_feed LI .fl_date .months {
	LINE-HEIGHT: 40px; WIDTH: 57px; COLOR: #333; FONT-SIZE: 32px
}
.qtt_feed LI .day {
	BACKGROUND-POSITION: 0px -62px; HEIGHT: 34px
}
.qtt_feed LI .dateday {
	LINE-HEIGHT: 36px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.qtt_feed LI .qtt_feed_c {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 591px; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 10px; PADDING-TOP: 0px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px
}
.qtt_assign {
	MARGIN: 0px 5px 10px 0px; WIDTH: 474px; CLEAR: both
}
.qtt_feed LI .qtt_arrow {
	POSITION: absolute; WIDTH: 11px; DISPLAY: block; BACKGROUND: url(../../images/common/quotations/bg_arrow.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 19px; RIGHT: -11px; TOP: 13px
}
.qtt_asarrow_t {
	POSITION: relative; MARGIN: 0px 0px -2px 53px; WIDTH: 19px; BACKGROUND: url(../../images/common/quotations/bg_arrow.gif) no-repeat 0px -31px; HEIGHT: 11px; OVERFLOW: hidden
}
.qtt_assign .qtt_assign_t {
	WIDTH: 474px; HEIGHT: 5px; OVERFLOW: hidden
}
.qtt_assign .qtt_assign_b {
	WIDTH: 474px; HEIGHT: 5px; OVERFLOW: hidden
}
.qtt_assign .qtt_assign_c {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 1.7em; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 17px; WIDTH: 472px; PADDING-RIGHT: 17px; OVERFLOW: hidden; PADDING-TOP: 6px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px
}
.qtt_feed LI .qtt_feed_c .sms {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 15px
}
.qtt_feed LI .qtt_feed_c .sms .data {
	PADDING-LEFT: 4px; FONT-SIZE: 12px
}
.qtt_feed LI .qtt_feed_c .sms .inputaera {
	WIDTH: 20px; FLOAT: left; PADDING-TOP: 2px
}
.qtt_feed LI .qtt_feed_c .sms .contentaera {
	LINE-HEIGHT: 22px; MARGIN: 0px 0px 10px; WIDTH: 588px; FLOAT: right
}
.qtt_assign .qtt_assign_c .source {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.qtt_assign .qtt_assign_c .feed_img {
	POSITION: relative; MARGIN: 0px 8px 10px 0px; FLOAT: left
}
.feed_preview .feed_img {
	POSITION: relative; MARGIN: 0px 8px 10px 0px; FLOAT: left
}
.SG_colW51 .qtt_feed LI {
	WIDTH: 470px
}
.SG_colW51 .qtt_feed LI .qtt_feed_c {
	WIDTH: 371px; OVERFLOW: hidden
}
.SG_colW51 .qtt_feed LI .qtt_feed_c .sms .contentaera {
	WIDTH: 370px
}
.feed_preview .feed_img .imgicon {
	MARGIN-BOTTOM: 10px
}
.SG_colW51 .qtt_assign .qtt_assign_c .source {
	WIDTH: 330px
}
.articalContent UL.qtt_feed LI {
	MARGIN-LEFT: 0px
}
.wrtBlog_sub {
	_right: 171px
}
.wondPic {
	ZOOM: 1; BACKGROUND-POSITION: left bottom; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 10px
}
.wondPic UL {
	WIDTH: 100%; OVERFLOW: hidden
}
.wondPic LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; WIDTH: 87px; PADDING-RIGHT: 0px; DISPLAY: inline; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 10px; FLOAT: left; MARGIN-LEFT: 4px; CLEAR: none; FONT-SIZE: 12px; OVERFLOW: hidden; WORD-BREAK: break-all; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; _margin-left: 0
}
.wondPic LI.SG_j_linedot1 {
	PADDING-BOTTOM: 7px
}
.wondPic LI.videoImg2 {
	POSITION: relative
}
.wondPic LI .ico_play {
	POSITION: absolute; WIDTH: 37px; BACKGROUND: url(../../images/blog/wondpic_play.png) no-repeat; HEIGHT: 37px; OVERFLOW: hidden; _background: url(../../images/blog/wondpic_play.gif) no-repeat
}
.wondPic LI.videoImg2 .ico_play {
	TOP: 28px; LEFT: 25px
}
.wondPic LI.bigImg {
	MARGIN: 0px auto; WIDTH: 172px; DISPLAY: block; FLOAT: none; OVERFLOW: hidden
}
.wondPic LI .pic {
	WIDTH: 80px; MARGIN-BOTTOM: 6px; HEIGHT: 80px; OVERFLOW: hidden
}
.wondPic LI .pic IMG {
	WIDTH: 80px; HEIGHT: 80px; OVERFLOW: hidden
}
.wondPic LI.bigImg .pic {
	WIDTH: 172px; HEIGHT: 132px; OVERFLOW: hidden
}
.wondPic LI.bigImg .ico_play {
	TOP: 50px; LEFT: 73px
}
.wondPic LI.bigImg IMG {
	WIDTH: auto; HEIGHT: auto
}
.wondPic .clearfix {
	HEIGHT: 0px; OVERFLOW: hidden
}
.wondPic UL.wondPicList {
	PADDING-BOTTOM: 7px; MARGIN-TOP: 10px; MARGIN-LEFT: 4px
}
.wondPic UL.wondTxtList LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px 4px 0px 3px; HEIGHT: 132px
}
.wondPic UL.wondTxtList {
	PADDING-BOTTOM: 7px; MARGIN-TOP: 10px; MARGIN-LEFT: 4px
}
.wondPic UL.wondTxtList LI {
	MARGIN: 0px 4px 0px 3px; FLOAT: none
}
.wondPic UL.wondPicList {
	PADDING-BOTTOM: 7px; MARGIN-LEFT: 4px
}
.wondPic UL.wondPicList LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px 1px 0px 4px; HEIGHT: 126px
}
.wondPicnSlide {
	POSITION: relative; PADDING-BOTTOM: 11px; MARGIN: 0px auto; WIDTH: 172px; ZOOM: 1; BACKGROUND-POSITION: 50% bottom; HEIGHT: 132px; OVERFLOW: hidden
}
.wondPicnSlide UL {
	Z-INDEX: 9; POSITION: absolute; WIDTH: 1032px; TOP: 0px; LEFT: 0px
}
.wondPicnSlide UL LI {
	POSITION: relative; MARGIN: 0px; WIDTH: 172px; FLOAT: left; HEIGHT: 132px; OVERFLOW: hidden; _display: inline
}
.wondPicnSlide UL LI IMG {
	WIDTH: 172px
}
.wondPicnSlide UL LI SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 32px; WIDTH: 172px; BACKGROUND: url(../../images/common/op_black50.png); HEIGHT: 32px; COLOR: #ced2d1; FONT-SIZE: 13px; CURSOR: pointer; TEXT-DECORATION: none; TOP: 0px; LEFT: 0px
}
.wondPicnSlide .sNo {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 37px; BOTTOM: 18px; HEIGHT: 9px; RIGHT: 6px
}
.wondPicnSlide .sNo A {
	LINE-HEIGHT: 100px; TEXT-INDENT: 0px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../../images/blog/qingrec_slideico.png) -12px 0px; HEIGHT: 9px; MARGIN-LEFT: 3px; OVERFLOW: hidden; _background: url(../../images/blog/qingrec_slideico.gif) -12px 0 repeat
}
.wondPicnSlide .sNo A:link {
	LINE-HEIGHT: 100px; TEXT-INDENT: 0px; WIDTH: 9px; DISPLAY: inline-block; BACKGROUND: url(../../images/blog/qingrec_slideico.png) -12px 0px; HEIGHT: 9px; MARGIN-LEFT: 3px; OVERFLOW: hidden; _background: url(../../images/blog/qingrec_slideico.gif) -12px 0 repeat
}
.wondPicnSlide .sNo A.current {
	BACKGROUND-POSITION: 0px 0px
}
.wondPicnSlide .sNo A.current:link {
	BACKGROUND-POSITION: 0px 0px
}
.relaList .atcTit_more {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.relaList .natcTit_more {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.wondPicSlide {
	PADDING-TOP: 8px
}
.wondPicSlide .pic {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 172px; HEIGHT: 132px; OVERFLOW: hidden
}
.wondPicSlide .pic SPAN {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: url(../../images/common/op_black50.png); HEIGHT: 25px; COLOR: #fff; LEFT: 0px; _background: #000
}
.wondPicSlide .pic A:hover {
	CURSOR: pointer; TEXT-DECORATION: none
}
.wondPicSlide .pic IMG {
	WIDTH: 172px
}
.wondPicSlide UL {
	PADDING-BOTTOM: 10px; MARGIN: 10px auto 0px; WIDTH: 172px; DISPLAY: block; BACKGROUND-POSITION: left bottom; OVERFLOW: hidden
}
.wondPicSlide UL LI {
	WIDTH: 50px; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden; MARGIN-RIGHT: 11px; _display: inline
}
.wondPicSlide UL LI A {
	BACKGROUND: url(../../images/common/sg_trans.gif)
}
.wondPicSlide UL LI A:link {
	BACKGROUND: url(../../images/common/sg_trans.gif)
}
.wondPicSlide UL LI.mgr {
	MARGIN-RIGHT: 0px
}
.wondPicSlide UL LI IMG {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 48px; PADDING-RIGHT: 1px; HEIGHT: 48px; PADDING-TOP: 1px
}
.wondPicSlide UL LI.current A IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
.wondPicSlide UL LI A:hover IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
.relaList .atcTitList {
	PADDING-BOTTOM: 13px; PADDING-LEFT: 18px; WIDTH: 174px; PADDING-RIGHT: 18px; PADDING-TOP: 0px
}
.taofair {
	
}
.taofair .commodity {
	BORDER-BOTTOM: #e0e7e5 1px solid; WIDTH: 402px; BACKGROUND: #f3f3f3
}
.taofair .commodity .commodityinfor {
	BORDER-BOTTOM: #c2c8c6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e0e7e5 1px solid; BORDER-TOP: #e0e7e5 1px; BORDER-RIGHT: #e0e7e5 1px solid
}
.taofair .commodity .commodityinfor IMG {
	MAX-WIDTH: 400px
}
.taofair .commodity .fairtxt {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 18px; BACKGROUND: #fff; COLOR: #666; FONT-SIZE: 14px; PADDING-TOP: 18px
}
.taofair .commodity .fairtxt P {
	PADDING-BOTTOM: 10px
}
.taofair .commodity .fairtxt A {
	COLOR: #000; FONT-WEIGHT: bold
}
.taofair .commodity .fairtxt .black {
	COLOR: #000; FONT-WEIGHT: bold
}
.taofair .commodity .fairbtn {
	TEXT-ALIGN: right; LINE-HEIGHT: 38px; HEIGHT: 38px; CLEAR: both; PADDING-TOP: 10px
}
.taofair .commodity .fairbtn IMG {
	FLOAT: left
}
.taofair .commodity .fairbtn A {
	COLOR: #00798a; FONT-WEIGHT: normal
}
.tao .filmReview .pic .borderc {
	BACKGROUND: url(../../images/me/notemp.jpg) no-repeat 0px 0px
}
.cal365show {
	PADDING-BOTTOM: 19px; PADDING-LEFT: 16px; WIDTH: 672px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 30px; HEIGHT: 136px; PADDING-TOP: 19px
}
.cal365show .links {
	FONT-SIZE: 14px
}
.cal365show .links .flr {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 18px; PADDING-TOP: 0px
}
.cal365show .swrap {
	PADDING-BOTTOM: 16px; MARGIN: 0px 19px 15px 0px; BACKGROUND-POSITION: 50% bottom; OVERFLOW: hidden
}
.cal365show .swrap .tit {
	TEXT-ALIGN: center; PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; WIDTH: 57px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 35px; FONT-SIZE: 12px; PADDING-TOP: 25px
}
.cal365show UL {
	FLOAT: left; OVERFLOW: hidden; _display: inline
}
.cal365show UL LI {
	BORDER-BOTTOM: #e5e5e5 1px solid; POSITION: relative; BORDER-LEFT: #e5e5e5 1px solid; WIDTH: 85px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 85px; MARGIN-LEFT: 12px; OVERFLOW: hidden; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; _display: inline
}
.cal365show UL LI .pic {
	POSITION: relative; MARGIN: 5px; WIDTH: 75px; BACKGROUND: url(../../images/activity/act365/cal365_nobgs.png) no-repeat; HEIGHT: 75px
}
.cal365show UL LI EM {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 45px; BOTTOM: 0px; BACKGROUND: #000; HEIGHT: 21px; COLOR: #fff; FONT-SIZE: 9px; CURSOR: pointer; RIGHT: 0px
}
.cal365show UL LI IMG {
	WIDTH: 75px; HEIGHT: 75px
}
.cal365show UL LI.today {
	BACKGROUND: #cee3e4
}
.cal365show UL LI.today .pic {
	BACKGROUND-POSITION: 0px -140px
}
.cal365show UL LI.coming .pic {
	BACKGROUND-POSITION: 0px -280px
}
.cal365show UL LI.default .pic {
	BACKGROUND-POSITION: 0px -420px
}
.cal365show .btn_preview {
	POSITION: absolute; WIDTH: 13px; BACKGROUND: url(../../images/activity/act365/cal365show_btn.png) no-repeat 0px 0px; HEIGHT: 18px; TOP: 35px; LEFT: 0px
}
.cal365show .btn_next {
	POSITION: absolute; WIDTH: 13px; BACKGROUND: url(../../images/activity/act365/cal365show_btn.png) no-repeat 0px 0px; HEIGHT: 18px; TOP: 35px; LEFT: 0px
}
.cal365show .btn_next {
	BACKGROUND-POSITION: 0px -36px; RIGHT: 0px; LEFT: auto
}
