BODY {
	COLOR: #323e32
}
A {
	COLOR: #074387
}
A:link {
	COLOR: #074387
}
A:visited {
	COLOR: #074387
}
A:hover {
	COLOR: #074387
}
.SG_more {
	COLOR: #074387
}
.SG_txta {
	COLOR: #074387
}
.SG_txtb {
	COLOR: #637160
}
.SG_txtc {
	COLOR: #637160
}
.SG_clewtxta {
	COLOR: #ff0000
}
.SG_clewtxtb {
	COLOR: #ff6600
}
.SG_linka A:link {
	COLOR: #323e32
}
.SG_linka A:visited {
	COLOR: #323e32
}
.SG_linka A:hover {
	COLOR: #323e32
}
A.SG_linka:link {
	COLOR: #323e32
}
A.SG_linka:visited {
	COLOR: #323e32
}
A.SG_linka:hover {
	COLOR: #323e32
}
.SG_linkb A:link {
	COLOR: #637160
}
.SG_linkb A:visited {
	COLOR: #637160
}
.SG_linkb A:hover {
	COLOR: #637160
}
A.SG_linkb:link {
	COLOR: #637160
}
A.SG_linkb:visited {
	COLOR: #637160
}
A.SG_linkb:hover {
	COLOR: #637160
}
.borderc {
	BORDER-BOTTOM-COLOR: #343143; BORDER-TOP-COLOR: #343143; BORDER-RIGHT-COLOR: #343143; BORDER-LEFT-COLOR: #343143
}
.sinabloghead .blogtitle {
	COLOR: #ffffff
}
.sinabloghead .blogtitle A {
	COLOR: #ffffff
}
.sinabloghead .blogtitle A:link {
	COLOR: #ffffff
}
.sinabloghead .blogtitle A:visited {
	COLOR: #ffffff
}
.sinabloghead .blogtitle A:hover {
	COLOR: #ffffff
}
.sinabloghead .blogtitle .CP_a_fuc {
	COLOR: #ffffff
}
.sinabloghead .bloglink {
	COLOR: #f4f4f6
}
.sinabloghead .bloglink A {
	COLOR: #f4f4f6
}
.sinabloghead .bloglink A:link {
	COLOR: #f4f4f6
}
.sinabloghead .bloglink A:visited {
	COLOR: #f4f4f6
}
.sinabloghead .bloglink A:hover {
	COLOR: #f4f4f6
}
.sinabloghead .bloglink .CP_a_fuc {
	COLOR: #e9e9ed
}
.sinabloghead .blognav A {
	COLOR: #d2d2da
}
.sinabloghead .blognav A:link {
	COLOR: #d2d2da
}
.sinabloghead .blognav A:visited {
	COLOR: #d2d2da
}
.sinabloghead .blognav A:hover {
	COLOR: #d2d2da
}
.sinabloghead .blognav A.on {
	COLOR: #ffffff
}
.sinabloghead .blognav A.on:link {
	COLOR: #ffffff
}
.sinabloghead .blognav A.on:visited {
	COLOR: #ffffff
}
.sinabloghead .blognav A.on:hover {
	COLOR: #ffffff
}
.SG_connHead .title {
	COLOR: #e6ebeb
}
.SG_connHead .title A {
	COLOR: #e6ebeb
}
.SG_connHead .title A:link {
	COLOR: #e6ebeb
}
.SG_connHead .title A:visited {
	COLOR: #e6ebeb
}
.SG_connHead .title A:hover {
	COLOR: #e6ebeb
}
.SG_connHead .tip {
	COLOR: #e6ebeb
}
.SG_connHead .tip A {
	COLOR: #e6ebeb
}
.SG_connHead .tip A:link {
	COLOR: #e6ebeb
}
.SG_connHead .tip A:visited {
	COLOR: #e6ebeb
}
.SG_connHead .tip A:hover {
	COLOR: #e6ebeb
}
.SG_connHead .edit {
	COLOR: #e6ebeb
}
.SG_connHead .edit A {
	COLOR: #e6ebeb
}
.SG_connHead .edit A:link {
	COLOR: #e6ebeb
}
.SG_connHead .edit A:visited {
	COLOR: #e6ebeb
}
.SG_connHead .edit A:hover {
	COLOR: #e6ebeb
}
.SG_connHead .tip_r {
	COLOR: #e6ebeb
}
.SG_connHead .tip_r A {
	COLOR: #e6ebeb
}
.SG_connHead .tip_r A:link {
	COLOR: #e6ebeb
}
.SG_connHead .tip_r A:visited {
	COLOR: #e6ebeb
}
.SG_connHead .tip_r A:hover {
	COLOR: #e6ebeb
}
.SG_connHead .fontSize {
	COLOR: #e6ebeb
}
.SG_connHead .fontSize A {
	COLOR: #e6ebeb
}
.SG_connHead .fontSize A:link {
	COLOR: #e6ebeb
}
.SG_connHead .fontSize A:visited {
	COLOR: #e6ebeb
}
.SG_connHead .fontSize A:hover {
	COLOR: #e6ebeb
}
.menuList UL LI.current {
	COLOR: #e6ebeb
}
.menuList UL LI.current A {
	COLOR: #e6ebeb
}
.menuList UL LI.current A:link {
	COLOR: #e6ebeb
}
.menuList UL LI.current A:visited {
	COLOR: #e6ebeb
}
.menuList UL LI.current A:hover {
	COLOR: #e6ebeb
}
.menuList UL LI.current EM.SG_txtc {
	COLOR: #e6ebeb
}
.sinablogfooter {
	COLOR: #b7b7c4
}
.sinablogfooter A:link {
	COLOR: #b7b7c4
}
.sinablogfooter A:visited {
	COLOR: #b7b7c4
}
.sinablogfooter A:hover {
	COLOR: #b7b7c4
}
A.SG_aBtn {
	COLOR: #323e32
}
A.SG_aBtn:link {
	COLOR: #323e32
}
A.SG_aBtn:visited {
	COLOR: #323e32
}
.SG_tag UL LI SPAN A {
	COLOR: #efeff2
}
.SG_tag UL LI SPAN A:link {
	COLOR: #efeff2
}
.SG_tag UL LI SPAN A:visited {
	COLOR: #efeff2
}
.SG_tag UL LI SPAN A:hover {
	COLOR: #efeff2
}
BODY {
	BACKGROUND-COLOR: #1e1f47
}
.sinablogb {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sinablogb.jpg)
}
.sinabloghead {
	HEIGHT: 266px
}
.sinabloga {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sinabloga.jpg)
}
.sinablogfooter {
	HEIGHT: 190px
}
.sinabloghead .blogtoparea {
	TOP: 33%; LEFT: 219px
}
.sinabloghead .blognav {
	WIDTH: 413px; HEIGHT: 40px; TOP: 76%; LEFT: 140px
}
.sinabloghead .blognav .blognavInfo {
	TOP: 16px; LEFT: 68px
}
.sinabloghead .blognav .blognavBg {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/blognavbg.png); _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='http://simg.sinajs.cn/blog7newtpl/image/5/5_11/images/blognavbg.png')
}
.sinabloghead .blognav SPAN {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png); PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 0px
}
.SG_colW95 .SG_connHead {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelhead.png)
}
.SG_colW73 .SG_connHead {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelhead.png)
}
.SG_colW51 .SG_connHead {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelhead.png)
}
.SG_colW21 .SG_connHead {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelhead.png)
}
.blogads .ad_head {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelhead.png)
}
.SG_colW95 .SG_connHead {
	HEIGHT: 26px
}
.SG_colW73 .SG_connHead {
	HEIGHT: 26px
}
.SG_colW51 .SG_connHead {
	HEIGHT: 26px
}
.SG_colW21 .SG_connHead {
	HEIGHT: 26px
}
.SG_colW95 .SG_connBody {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelbody.png)
}
.SG_colW73 .SG_connBody {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelbody.png)
}
.SG_colW51 .SG_connBody {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelbody.png)
}
.SG_colW21 .SG_connBody {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelbody.png)
}
.blogads .ad_body {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelbody.png)
}
.SG_colW95 .SG_connFoot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelfoot.png)
}
.SG_colW73 .SG_connFoot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelfoot.png)
}
.SG_colW51 .SG_connFoot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelfoot.png)
}
.SG_colW21 .SG_connFoot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelfoot.png)
}
.blogads .ad_foot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/modelfoot.png)
}
.SG_colW95 .SG_connFoot {
	HEIGHT: 1px
}
.SG_colW73 .SG_connFoot {
	HEIGHT: 1px
}
.SG_colW51 .SG_connFoot {
	HEIGHT: 1px
}
.SG_colW21 .SG_connFoot {
	HEIGHT: 1px
}
.SG_j_line {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/SG_line.gif)
}
.SG_j_line1 {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/SG_line.gif)
}
.SG_j_linedot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/SG_linedot.gif)
}
.SG_j_linedot1 {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/SG_linedot.gif)
}
.SG_dot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/SG_dot.gif)
}
.SG_tag {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.SG_tag UL LI {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.SG_tag UL LI SPAN.tagR {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.SG_tag UL LI.current {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.SG_tag UL LI.current SPAN.tagR {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.menuList UL LI.current {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.menuList UL LI.current .menuCell_bot {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
.allComm .allCommTit {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
A.SG_aBtn {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
A.SG_aBtn CITE {
	BACKGROUND-IMAGE: url(../../../image/5/5_11/images/sg_newsp.png)
}
A.SG_aBtnB {
	BACKGROUND-IMAGE: url(http://simg.sinajs.cn/blog7style/images/common/sg_btnb.png); COLOR: #333399; _background-image: url(http://simg.sinajs.cn/blog7style/images/common/sg_btnb.gif)
}
A.SG_aBtnB CITE {
	BACKGROUND-IMAGE: url(http://simg.sinajs.cn/blog7style/images/common/sg_btnb.png); COLOR: #333399; _background-image: url(http://simg.sinajs.cn/blog7style/images/common/sg_btnb.gif)
}
A.SG_aBtn_dis {
	BACKGROUND-IMAGE: url(http://simg.sinajs.cn/blog7style/images/common/sg_btn_dis.png); _background-image: url(http://simg.sinajs.cn/blog7style/images/common/sg_btn_dis.gif)
}
A.SG_aBtn_dis CITE {
	BACKGROUND-IMAGE: url(http://simg.sinajs.cn/blog7style/images/common/sg_btn_dis.png); _background-image: url(http://simg.sinajs.cn/blog7style/images/common/sg_btn_dis.gif)
}
.sinabloghead .adsarea {
	BOTTOM: 50px; DISPLAY: none; RIGHT: 0px
}
.sinabloghead .adsarea .pic {
	DISPLAY: none
}
.sinabloghead .adsarea .link {
	COLOR: #ffffff
}
.sinabloghead .adsarea .link A {
	COLOR: #0099ff
}
.sinabloghead .adsarea .link A:link {
	COLOR: #0099ff
}
.sinabloghead .adsarea .link A:visited {
	COLOR: #0099ff
}
.sinabloghead .adsarea .link A:hover {
	COLOR: #0099ff
}
.sinabloghead .adsarea .other {
	DISPLAY: none
}
.sinabloghead .headflash {
	WIDTH: 950px; HEIGHT: 265px
}
